body {
    background: #F3F5FC;
    padding: 40px;
    padding-bottom: 0;
}

.logo {
    display: inline-block;
    text-align: center;
    width: 120px;
    vertical-align: top;
}

.panelText {
    display: inline-block;
    margin: 118px 35px 0px 65px;
    width: 660px;
}

textarea {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    background: none;
    resize: none;
    border: none;
    outline: none;
}

.inputMessage {
    width: 100%;
    height: 350px;
    font-size: 32px;
    color: #0A3871;
}

textarea::placeholder {
    color: #0A3871;
}

.advertence {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #495057;
}

.buttons {
    height: 67px;
    width: 100%;
    display: inline-block;
}

button {
    height: 100%;
    width: 48%;
    padding: 24px;
    gap: 8px;
    border-radius: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 19px;
    text-align: center;
    border: 1px solid #0A3871;
    cursor: pointer;
}

.encriptar {
    background: #0A3871;
    color: #FFFFFF;
    margin-right: 3.3%;
}

.desencriptar {
    background: #D8DFE8;
    color: #0A3871;
}

.panelMessages {
    vertical-align: top;
    width: 250px;
    height: 520px;
    display: inline-block;
    text-align: center;
    padding: 32px;
    padding-bottom: 20px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.imageMessages {
    width: 240px;
    margin-top: 60px;
    margin-bottom: 10px;
}

.messageNotFoundPanel {
    text-align: center;
}

.titleMessageNotFound {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #343A40;
}

.messageNotFound {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #495057;
}

.message {
    height: 440px;
    width: 100%;
    font-size: 24px;
    color: #495057;
}

.copy {
    margin-top: 10px;
    width: 100%;
}

@media screen and (max-width:820px) {
    body {
        padding: 10px;
    }

    .logo,
    .panelText,
    .panelMessages {
        margin: 20px 0;
        display: block;
    }

    .panelText {
        width: auto;
        padding: 0 40px;
        margin: 70px 0;
    }

    .imageMessages {
        display: none;
    }

    .panelMessages {
        height: auto;
        width: auto;
    }

    .message {
        height: auto;
    }

}

@media screen and (max-width:415px) {

    .logo,
    .panelText,
    .panelMessages {
        margin: 20px 0;
        display: block;
    }

    .logo {
        text-align: left;
    }

    .panelText {
        width: auto;
        padding: 0 0;
        margin: 70px 0;
    }

    button {
        width: 100%;
    }

    .encriptar {
        margin-bottom: 20px;
    }

    .imageMessages {
        display: none;
    }

    .panelMessages {
        height: auto;
        width: auto;
    }

    .message {
        height: auto;
    }

}